@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: blue;
}
h1 {
    color: white;
    text-shadow: 2px 2px 0px rgb(1, 1, 49);
    padding: 10px;
}